/* цвет основного текста var(--title-text-color) rgba(33, 33, 33, 1);*/

/* вторичный цвет rgba(117, 117, 117, 1) */

/* белый цвет rgba(255, 255, 255, 1) */

/* акцент на синий rgba(33, 150, 243, 1)*/

/* цвет фона Героя и Футера rgba(47, 48, 58, 1)  */

/* вторичный цвет фона rgba(245, 244, 250, 1) */

/* основной фон  #F5F5F5 */

/* вторичный фон кнопки rgb(66, 135, 245) */

:root {
  --primary-text-color: rgba(33, 33, 33, 1);
  --title-text-color: rgba(33, 33, 33, 1);
  --secondary-text-color: rgba(117, 117, 117, 1);
  --accent-color: rgba(33, 150, 243, 1);
  --primary-white-color: rgba(255, 255, 255, 1);
  --secondary-white-color: rgba(245, 244, 250, 1);
  --background-black-color: rgba(47, 48, 58, 1);
  --background-blue-color: rgb(66, 135, 245);
}
body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
  font-family: Roboto, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
  outline: 2px solid tomato;
}

/* Header */

.page-header {
  background-color: var(--primary-white-color);
  margin-bottom: 94px;
}
.logo-link-header {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.logo-link {
  color: var(--accent-color);
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  text-decoration: none;
}

.logo-header {
  color: var(--title-text-color);
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-link:hover,
.logo-link:focus,
.logo-header:hover,
.logo-header:focus,
.link:hover,
.link:focus {
  color: var(--accent-color);
}
.site-nav {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 344px;
}

.list {
  list-style: none;
}
.link {
  color: var(--title-text-color);
  text-decoration: none;
}
.link-header {
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-right: 50px;
}

/* Герой */

.hero {
  background-color: var(--background-black-color);
  text-align: center;
  margin-bottom: 94px;
}

.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-style: normal;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  padding-top: 200px;
  margin-bottom: 30px;
  padding-left: 252px;
  padding-right: 252px;
}

/* Button */

.button-primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  max-width: 216px;
  width: 100%;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  margin-bottom: 200px;
}
.button-primary:hover,
.button-primary:focus {
  color: var(--primary-white-color);
  background-color: var(--background-blue-color);
  cursor: pointer;
}

.secondary-button {
  color: var(--primary-text-color);
  background-color: var(--secondary-white-color);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  margin-right: 8px;
}
.secondary-button:hover,
.secondary-button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Переваги */

.section {
  color: var(--secondary-text-color);
  margin-bottom: 94px;
}

.centered {
  text-align: center;
}

.section-title {
  color: var(--title-text-color);
  font-style: normal;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.feature-list {
}

.title {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 30px;
  margin-bottom: 10px;
}

.title-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 24px;
  margin-right: 30px;
}

/* Чим ми займаємося */

.filter {
  margin-bottom: 34px;
}

.work-list > .item {
  margin-bottom: 94px;
  margin-right: 30px;
}

.work-box {
  margin-bottom: 30px;
  margin-right: 30px;
}

.work-image {
  margin-bottom: 20px;
}

.work-title {
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.work-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-bottom: 20px;
}

/* Наша команда */

.team-list {
  background-color: var(--secondary-white-color);
}
.team-card {
  background-color: var(--primary-white-color);
  width: 270px;
  height: 368px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 94px;
  margin-right: 30px;
}

.team-image {
  margin-bottom: 30px;
}

.title-team {
  color: var(--title-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}

.title-text-team {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  text-align: center;
}
/* Футер */

.footer {
  background-color: var(--background-black-color);
}

.logo-link-footer {
  padding-top: 60px;
  margin-bottom: 20px;
}

.logo-footer {
  color: var(--primary-white-color);
  font-family: Raleway, cursive;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-footer:hover,
.logo-footer:focus {
  color: var(--accent-color);
}
.addres {
  padding-bottom: 60px;
}

.info-list {
  list-style: none;
}
.link-addres {
  color: var(--primary-white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.link-footer {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.info-item {
  margin-bottom: 9px;
}
